* {
  box-sizing: border-box;
  font-family: 'Sans Serif';
  margin: 0;
  transition: ease all .3s;
}

header {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}

h1 {
  color: blue;
  font-family: 'Fascinate Inline', cursive;
  font-size: 2.5em;
}

header span {
  font-family: 'Fascinate Inline', cursive;
  color: red;
}

main {
  display: flex;
  min-height: 90vh;
}

aside {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  width: 15%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
  padding: 5px;
}

select:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

section {
  background: url(./images/curtains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.ticket {
  background-color: cornflowerblue;
  border: 10px dashed yellow;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  height: 45%;
  width: 30%;
}

footer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  width: 100%;
}

footer button {
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
  width: 15%;
}

.fave-button {
  background: url(./images/theatre-masks.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.fave-button:hover {
  background: url(./images/theater.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.delete-button {
  background: none;
}

.delete-button:hover {
  background: url(./images/delete.svg);
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.favorite {
  background: red;
}

.favorite  .fave-button{
  background: url(./images/theater.svg);
  background-position: center;
  background-repeat: no-repeat;
}